.archiveHero {
    margin-top: 50px;
    display: flex;
}


/* .archiveHero .sidebar {
    width: 25%;
    background: navy;
    display: inline-block;
    flex-grow: 1;
} */

.archiveWrapper {
    float: right;
    width: 100%;
    border: 1px solid black;
    padding: 0 10px;
}

.archiveWrapper h2 {
    font-size: 7em;
    font-weight: lighter;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    border-bottom: 2px solid #000;
}

.articlesWrapper {
    width: 100%;
    /* border: 1px solid black; */
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articlePreview {
    width: 30vw;
    margin: 10px 0;
    height: 250px;
    border: 1px solid #000;
    box-shadow: 2px 5px 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-image: url("https://static01.nyt.com/images/2021/02/03/us/politics/03dc-repubs-1/03dc-repubs-1-jumbo.jpg?quality=90&auto=webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.articlePreview .titleBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgb(0, 45, 115);
    background: linear-gradient(0deg, rgba(0, 45, 115, 1) 0%, rgba(0, 45, 115, 0.65) 60%, rgba(255, 255, 255, 0) 100%);
    padding: 50px 10px 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.articlePreview .titleBar .previewTitle {
    width: 100%;
    height: 75px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.6em;
    line-height: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.articlePreview .titleBar .articleBlurb {
    display: none;
    color: #FFF;
    font-size: 1.2em;
    line-height: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.articlePreview .titleBar .barBottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.articlePreview .titleBar .previewTimestamp {
    color: #FFF;
    width: 30%;
    margin-bottom: 0px;
}

.articlePreview .titleBar .categoryTag {
    padding: 2px 10px;
    border-radius: 500px;
    width: fit-content;
    background-color: rgb(173, 255, 162, 0.7);
}


/* On Hover */

.articlePreview:hover {
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.articlePreview:hover .titleBar {
    height: 250px;
    padding-top: 20px;
    background: linear-gradient(0deg, rgba(0, 45, 115, 1) 0%, rgba(0, 45, 115, 0.65) 80%, rgba(0, 45, 115, 0.2) 100%);
}

.articlePreview:hover .titleBar .previewTitle {
    height: initial;
    margin-bottom: 20px;
}

.articlePreview:hover .titleBar .articleBlurb {
    display: block;
}

.articlePreview:hover .titleBar .barBottom {
    margin-top: -30px;
}