<div class="hero">
    <div class="textWrapper">
        <h2>Current Goal</h2>
        <p>
            DCSN operates on a system where we periodically select a topic of focus from the United Nations
            Sustainable Development Goals.
            <br><br>
            For this period, new content primarily has a focus on the relevant goal, and
            is placed one of our own categories for ease of access.
        </p>
    </div>
    <div class="goalsWrapper">
        <div class="goalBox" *ngFor="let goal of goals; let i = index"
            [ngStyle]="{'background-image': 'url(' + goal.image + ')'}" (click)="flipDisplay(i)" id="goal{{goal.id}}">
            <div class="goalOverlay" style="display: {{goal.display}}"></div>
        </div>
    </div>
</div>