.hero {
    width: 100%;
    padding: 10px;
    background: rgb(0, 75, 135);
}

.textWrapper {
    width: 36%;
    height: calc(3*((100vw / 9.5) - 2px));
    display: inline-block;
    padding: 40px 40px 20px;
    color: #fff;
}

.textWrapper h2 {
    font-size: 3.5em;
    font-weight: 200;
}

.textWrapper p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;
}

.goalsWrapper {
    width: 64%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    background: #fff;
}

.goalBox {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc((100vw / 9.5) - 2px);
    height: calc((100vw / 9.5) - 2px);
}

.goalBox:hover {
    cursor: pointer;
}

#goal0 {
    background-size: contain;
}

.goalOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1090px) {
    .textWrapper {
        width: 100%;
        height: initial;
    }
    .textWrapper h2 {
        text-align: center;
    }
    .goalsWrapper {
        padding: 0;
        width: 100%;
        float: none;
    }
    .goalBox {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: calc((98vw / 6) - 2px);
        height: calc((98vw / 6) - 2px);
    }
}