<div class="wrapper" [style.display]="dataLoaded ? 'block' : 'hidden'">
    <div class="articleWrapper">
        <div class="headingWrapper">
            <div class="categoriesContainer">
                <div class="categoryTag" [style.backgroundColor]="sharedData.colors.categories[article.category]">
                    {{article?.category}}</div>
                <div class="subcategoryTag" [style.backgroundColor]="sharedData.colors.subcategories[article.category]">
                    {{article?.subcategory}}
                </div>
            </div>
            <h2 class="title">{{article.title}}</h2>
            <hr>
            <div class="authorContainer">
                <div class="authorPfp" [style.backgroundImage]="'url(' + author?.photoURL + ')'">
                </div>
                <p class="authorName">{{author?.firstName}} {{author?.lastName}}</p>
                <p class="timestamp">{{article?.writtenDate}}</p>
            </div>?
        </div>
        <div class="textWrapper">
            <h4 class="subtitle">
                {{article?.subtitle}}
            </h4>
            <div class="mainImage" [style.backgroundImage]="'url(' + article?.thumbURL + ')'">
            </div>
            <div class="bodyWrapper">
                <div class="bodyText" [innerHTML]="article?.body | safeHtml">
                </div>
            </div>
            <div class="bottomWrapper">
                <div class="casWrapper">
                    <h4>CE/CAS</h4>
                    <hr>
                    <p *ngFor="let cas of article?.cas">{{cas}}</p>
                </div>
                <div class="referencesWrapper">
                    <h4>References</h4>
                    <hr>
                    <p *ngFor="let reference of article?.references">{{reference}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="moderationWrapper">
        <h3>Moderation</h3>
        <div class="checkboxes">
            <label class="container">
                <b>Does the article fulfil the
                    <a href="https://docs.google.com/document/d/105syMxkH03lw9sIsE0NObdsW4po8SnKAZNceKYNnCqI/edit?usp=drivesdk"
                        target="_blank">writers criteria</a>
                    ?</b>
                <input type="checkbox" [(ngModel)]="moderation.checklist.criteria"
                    [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Does the article present a sufficiently neutral view in line with the journalistic
                impartiality of DCSN?
                <input type="checkbox" [(ngModel)]="moderation.checklist.neutral" [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Does the article fall within the HK basic and national security laws as outlined in
                the DCSN Operations Guidelines?
                <input type="checkbox" [(ngModel)]="moderation.checklist.law" [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Does the article utilise grammar and language in a manner befitting of a school
                newspaper?
                <input type="checkbox" [(ngModel)]="moderation.checklist.language"
                    [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Does the article appropriately reference and credit relevant sources, in the
                correct format?
                <input type="checkbox" [(ngModel)]="moderation.checklist.references"
                    [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Does the article provide links to appropriate CAS opportunities (if any) which are
                relevant to DC students?
                <input type="checkbox" [(ngModel)]="moderation.checklist.cas" [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Do all images and/or graphic designs included in the article abide by the DCSN
                article guidelines?
                <input type="checkbox" [(ngModel)]="moderation.checklist.graphics"
                    [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container">Does the article abide by the general formatting rules as outlined in the DCSN
                writing guidelines?
                <input type="checkbox" [(ngModel)]="moderation.checklist.formatting"
                    [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
            <label class="container"><b>Is this article ready for publishing?</b>
                <input type="checkbox" [(ngModel)]="moderation.publishReady" [ngModelOptions]="{standalone: true}">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="submission">
            <textarea class="additionalComments" [(ngModel)]="moderation.comments" placeholder="Additional comments (required if not publish ready)"></textarea>
            <button (click)="submit()">Submit</button>
        </div>
    </div>
</div>

<div class="authControls" [hidden]="auth.permission > 2">
    <h3>Admin Functions</h3>
    <p>Advanced functions only available to Heads of Department or higher.</p>
    <p>Note: using these advanced functions will not save the current moderation.</p>
    <div class="buttonWrapper">
        <button (click)="authMove('drafts')">Pull back to drafts</button>
        <button (click)="authMove('onhold')">Move forward to on-hold</button>
        <button (click)="authMove('live')">Push to published articles</button>
    </div>
</div>