<div class="wrapper">
    <div class="sidebar">
        <hr>
        <a [routerLink]="['/staff', 'create-article']" [ngClass]="{'disabled': !auth.canEditArticle(2, 'contributor', null)}">
            <i class="roleIcon far fa-edit"></i>
        </a>
        <hr>
        <a [routerLink]="['/staff', 'create-article']" [ngClass]="{'disabled': !auth.canEditArticle(2, 'moderator', null)}">
            <i class="roleIcon far fa-copy"></i>
        </a>
        <hr>
        <a [routerLink]="['/staff', 'create-article']" class="disabled">
            <i class="far fa-user"></i>
        </a>
        <hr>
        <a [routerLink]="['/staff', 'create-article']" class="disabled">
            <i class="fas fa-comment-medical"></i>
        </a>
        <hr>
        <a [routerLink]="['/staff', 'permissions']">
            <i class="fas fa-user-cog"></i>
        </a>
    </div>
    <div class="topWrapper" [style.backgroundImage]="sharedData.dcImages.groupwork">
        <h2>Staff Overview</h2>
        <p class="description">This page provides an overview of staff activity within DCSN, and acts as a portal to further staff functions. Use the sidebar on the left to navigate to staff-exclusive pages such as article writing and moderating, personal profile creation,
            ICT or graphics design feature requests, permissions control, and more.
        </p>
        <div class="infoWrapper">
            <div class="infoContainer">
                <h4>Current Goal</h4>
                <p><i class="fas fa-bullseye"></i>17 - Partnership for the Goals</p>
            </div>
            <div class="infoContainer">
                <h4>Current Rotational Period</h4>
                <p><i class="far fa-calendar-alt"></i>September 1st - September 30th</p>
            </div>
            <div class="infoContainer">
                <h4>Total Pending Articles</h4>
                <p><i class="fas fa-align-left"></i>{{getObjectLen(articles?.moderating) + getObjectLen(articles?.onhold)}}
                </p>
            </div>
        </div>
    </div>
    <div class="columnWrapper">
        <div class="articleColumn">
            <h2>DRAFTS - {{getObjectLen(articles?.drafts)}}</h2>
            <div class="articleWrapper">
                <div class="article" *ngFor="let article of articles?.drafts" [ngClass]="{'enabled': auth.canEditArticle(2, 'contributor', article.author)}" [routerLink]="['/staff', 'create-article', article.articleId]" [style.borderColor]="sharedData.colors.categories[article.category]">
                    <h5>{{article.title}}</h5>
                    <p class="subcategory" [style.background]="sharedData.colors.categories[article.category]">
                        {{article.subcategory}}</p>
                    <hr>
                    <div class="infoContainer">
                        <div class="authorPfp" [style.backgroundImage]="staffProfiles[article.author] ? 'url('+ staffProfiles[article.author]['photoURL'] +')' : 'none'">
                        </div>
                        <div class="authorWrapper">
                            <p class="authorName">
                                {{staffProfiles[article.author] ? staffProfiles[article.author]['firstName'] + ' ' + staffProfiles[article.author]['lastName'] : ""}}
                            </p>
                            <p>
                                {{formatDate(article.writtenDate)}}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="statusWrapper" [style.color]="'green'">In progress <span [hidden]="!article.moderations"><b>Reviewed</b></span></div>
                </div>
            </div>
        </div>
        <div class="articleColumn">
            <h2>MODERATING - {{getObjectLen(articles?.moderating)}}</h2>
            <div class="articleWrapper">
                <div class="article" *ngFor="let article of articles?.moderating" [ngClass]="{'enabled': auth.canEditArticle(2, 'moderator', article.author)}" [routerLink]="['/staff', 'moderate-article', article.articleId]" [style.borderColor]="sharedData.colors.categories[article.category]">
                    <h5>{{article.title}}</h5>
                    <p class="subcategory" [style.background]="sharedData.colors.categories[article.category]">
                        {{article.subcategory}}</p>
                    <hr>
                    <div class="infoContainer">
                        <div class="authorPfp" [style.backgroundImage]="staffProfiles[article.author] ? 'url('+ staffProfiles[article.author]['photoURL'] +')' : 'none'">
                        </div>
                        <div class="authorWrapper">
                            <p class="authorName">
                                {{staffProfiles[article.author] ? staffProfiles[article.author]['firstName'] + ' ' + staffProfiles[article.author]['lastName'] : ""}}
                            </p>
                            <p>
                                {{formatDate(article.writtenDate)}}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="statusWrapper" [style.color]="'#C45017'">In moderation
                        <span><b>{{getObjectLen(article.moderations)}}/2</b></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="articleColumn">
            <h2>ON HOLD - {{getObjectLen(articles?.onhold)}}</h2>
            <div class="articleWrapper">
                <div class="article" *ngFor="let article of articles?.onhold" [ngClass]="{'enabled': auth.staffObject.permission <= 2}" [routerLink]="['/staff', 'on-hold', article.articleId]" [style.borderColor]="sharedData.colors.categories[article.category]">
                    <h5>{{article.title}}</h5>
                    <p class="subcategory" [style.background]="sharedData.colors.categories[article.category]">
                        {{article.subcategory}}</p>
                    <hr>
                    <div class="infoContainer">
                        <div class="authorPfp" [style.backgroundImage]="staffProfiles[article.author] ? 'url('+ staffProfiles[article.author]['photoURL'] +')' : 'none'">
                        </div>
                        <div class="authorWrapper">
                            <p class="authorName">
                                {{staffProfiles[article.author] ? staffProfiles[article.author]['firstName'] + ' ' + staffProfiles[article.author]['lastName'] : ""}}
                            </p>
                            <p>
                                {{formatDate(article.writtenDate)}}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="statusWrapper" [style.color]="'red'">Final revisions</div>
                </div>
            </div>
        </div>
    </div>
</div>