<div class="aboutWrapper">
    <div class="hero1" [style.backgroundImage]="images.hero1Background">
        <div class="overlay">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="hero2">
        <h3>Our Mission</h3>
        <div class="textWrapper">
            <div class="leftColumn">
                <div class="section">
                    Discovery College Student News (DCSN) is the official student-led newspaper of Discovery College. We
                    here at DCSN aim to educate the DC student populace on contemporary global and local issues. By
                    developing unique and engaging content, we hope to arm our peers with relevant information they can
                    actively use in their academic and social lives.
                </div>
                <div class="section">
                    Every month, we at DCSN create content around important topics relating to one of the seventeen UN
                    sustainable development goals. Under our four categories of poverty, sustainability, economy, and
                    politics, lie all seventeen UN sustainable development goals. There you can find content in all
                    types of mediums and on all types of IB and MYP relevant issues.
                </div>
                <div class="section">
                    Through our posts, we strive to raise the cultural and international awareness of DC students,
                    increasing their understanding of global issues by giving them real-life examples of the concepts
                    they learn in class. This, in turn, may help our readers in their studies moving forward, allowing
                    them to better engage in classes.
                </div>
            </div>
            <div class="rightColumn">
                <div class="section">

                    <div class="text">
                        <h5><i class="fas fa-balance-scale-left"></i>Our Beliefs</h5>
                        <p>
                            We at DCSN believe in promoting greater academic engagement at DC by fostering a culture of
                            international mindedness beyond the classroom.
                        </p>
                    </div>
                </div>
                <div class="section">

                    <div class="text">
                        <h5><i class="far fa-user"></i>Our People</h5>
                        <p>
                            Participation in DCSN is open to all secondary and Diploma Program students (Y7-13).
                            Additionally, our members possess a wide variety of skills and specialties across artistic
                            disciplines.
                        </p>
                    </div>
                </div>
                <div class="section">
                    <div class="text">
                        <h5><i class="far fa-gem"></i>Our Values</h5>
                        <p>
                            From a young age, IB students are taught to think critically about the world around us. We
                            at DCSN value this approach and look to extend it to international contexts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero3">
        <div class="backgroundImage" [style.backgroundImage]="images.hero3Background">
        </div>
        <div class="text">
            <h3>Our History</h3>
            <p>
                Interested in the full story of how DCSN came to be?
            </p>
            <p>
                Check out our in-depth guide through the history of DCSN, from a humble Whatsapp newsletter to a
                fully-fledged student news organization with over 30 members across 5 year levels.
            </p>
            <a href="">
                <button type="button" disabled>
                    Coming soon
                </button>
            </a>
        </div>
        <div class="chart"></div>
    </div>
    <div class="hero4">
        <h3>Our Staff</h3>
        <div class="wrapper">
            <div class="selector">
                <div class="header">Department</div>
                <div class="option" (click)="setDepartment('all')" [ngClass]="{'active': currentDepartment == 'all'}">
                    <i class="fas fa-circle-notch"></i><span>All</span>
                </div>
                <div class="option" (click)="setDepartment('contributor')"
                    [ngClass]="{'active': currentDepartment == 'contributor'}">
                    <i class="far fa-edit"></i><span>Contributors</span>
                </div>
                <div class="option" (click)="setDepartment('moderator')"
                    [ngClass]="{'active': currentDepartment == 'moderator'}">
                    <i class="far fa-copy"></i><span>Moderators</span>
                </div>
                <div class="option" (click)="setDepartment('technology')"
                    [ngClass]="{'active': currentDepartment == 'technology'}">
                    <i class="fas fa-laptop-code"></i><span>Technology</span>
                </div>
                <div class="option" (click)="setDepartment('graphics')"
                    [ngClass]="{'active': currentDepartment == 'graphics'}">
                    <i class="fas fa-palette"></i><span>Graphics</span>
                </div>
            </div>
            <div class="staffWrapper" id="staffWrapper">
                <div class="profile" *ngFor="let profile of profiles"
                    [ngClass]="{'important': checkImportant(profile.permission)}"
                    [hidden]="!checkDepartment(profile.roles)">
                    <div class="body">
                        <div class="pfp" [style.backgroundImage]="'url('+profile.photoURL+')'"></div>
                        <h4>{{auth.dcEmail ? profile.firstName : "&#x200b;"}}</h4>
                        <h4>{{auth.dcEmail ? profile.lastName : profile.firstName}}</h4>
                        <h6>{{profile.description}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero5">
        <div class="backgroundImage" [style.backgroundImage]="images.hero5Background"></div>
        <h3>Our Process</h3>
        <p>
            DCSN has drafted an extensive network of regulatory documents which we use to ensure all of our content
            falls within our own guidelines, along with the policies of both Discovery College and Hong Kong.
        </p>
        <p>
            Check out the links below to navigate between these documents. All documents are regularly reviewed and
            updated as the organization deems necessary.
        </p>
        <div class="buttons">
            <a href="https://docs.google.com/document/d/1rG_8QY6UP__CeQ32lT2WSP2T1ev5IkiPjMf_-5PWQhs/edit?usp=sharing"
                target="_blank">
                <div class="button">
                    DCSN Operations
                </div>
            </a>
            <a href="https://docs.google.com/document/d/1_jnoTdhibxX80VR1FFdudQk99bK4d2LC2M4pLYF1t80/edit?usp=sharing"
                target="_blank">
                <div class="button">
                    Writing Guidelines
                </div>
            </a>
            <a href="https://docs.google.com/document/d/18q3auQEkI_tJ4u4RAKNez6DOef7qqcXPdnhb-Kkqjzo/edit?usp=sharing"
                target="_blank">
                <div class="button">
                    Moderation Guidelines
                </div>
            </a>
            <a href="https://docs.google.com/document/d/1nnBgtI7q-pNf8GyDAK20CfN8LzGP2ndwgEFvMcq0Uv0/edit?usp=sharing"
                target="_blank">
                <div class="button">
                    Graphics Guidelines
                </div>
            </a>
        </div>
    </div>
    <div class="hero6">
        <div class="questionsContainer">
            <h4>Questions?</h4>
            <p>
                Get in touch with us using our <a [routerLink]="['/contact']">contact page</a>, or by emailing us at
                <a href="mailto:dcsn@dc.edu.hk" target="_blank">dcsn@dc.edu.hk</a>, and our team will get back to you
                shortly.
            </p>
        </div>
    </div>
</div>