.articleWrapper {
    width: 100%;
    /* border: 1px solid black; */
    /* background-color: #d8fdfd; */
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 60%);
}

.headingWrapper {
    width: 100%;
    background-color: rgb(0, 45, 115);
    min-height: 62vh;
    padding: 100px 0 5px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    box-shadow: -1px 5px 5px;
    z-index: 0;
}

.headingWrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 45, 115, 0.8) 70%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.headingWrapper .headingContainer {
    width: 60%;
    left: 0;
    position: absolute;
    bottom: 10px;
    right: 0;
    margin: 0 auto 5px;
}

.categoriesContainer {
    width: 60%;
    margin: 20px 0;
}

.categoriesContainer div {
    display: inline-block;
    padding: 0 10px;
    border-radius: 200px;
    margin-right: 10px;
    width: fit-content;
    border: 1.75px solid rgba(0, 0, 0, 0.2);
    color: #000;
}

.title {
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    color: #dfdfdf;
}

.headingWrapper hr {
    border-top: 2px solid #fff;
    width: 100%;
}

.authorContainer {
    height: 30px;
    width: 100%;
}

.authorContainer p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 35px;
    display: inline-block;
    width: 50%;
}

.authorContainer .authorPfp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    float: left;
    margin: 0 20px 0 0;
}

.authorContainer .authorName {
    width: 60%;
}

.authorContainer .timestamp {
    float: right;
    width: 20%;
}

.textWrapper {
    width: 70%;
    margin: 0 auto;
    padding: 20px 5% 50px;
    background: #fff;
    /* border-left: 1px solid rgb(0, 45, 115); */
    /* border-right: 1px solid rgb(0, 45, 115); */
}

.subtitle {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.25rem;
}

.mainImage {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bodyText {
    font-family: "Noto Serif TC", serif;
    font-size: 17px;
}

.bottomWrapper {
    margin-top: 50px;
    border-top: 2px solid rgb(7, 27, 48);
    min-height: 40vh;
    width: 100%;
    display: flex;
}

.referencesWrapper,
.casWrapper {
    width: 50%;
    display: inline-block;
    padding: 20px;
    flex-grow: 1;
}

.casWrapper {
    border-right: 2px solid rgb(7, 27, 48);
}

.referencesWrapper h4,
.casWrapper h4 {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1rem;
}

.referencesWrapper p,
.casWrapper p {
    overflow-wrap: break-word;
}


/* Advanced Auth Controls */

.authControls {
    padding: 30px 50px 50px;
    text-align: center;
    width: 100%;
    color: rgb(0, 45, 115);
    border-top: 4px solid rgb(0, 45, 115);
}

.authControls h3 {
    font-size: 4em;
    font-weight: 300;
}

.authControls .buttonWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 30px auto 0;
}

.authControls .buttonWrapper button {
    width: 250px;
    border: 2px solid rgb(0, 45, 115);
    background: #fff;
    color: rgb(0, 45, 115);
    border-radius: 5px;
}

.authControls .buttonWrapper button:hover {
    background: rgb(0, 45, 115);
    color: #fff;
}