a {
    text-decoration: none;
}

p {
    margin-top: 1rem;
}

nav {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
}

div {
    font-family: "Lato", Helvetica, sans-serif;
}

button {
    background-color: transparent;
}

.disabled {
    pointer-events: none;
}

.logo {
    background-image: url("../../../assets/images/dcsn_logo_3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#navLogo {
    width: 170px;
    height: 40px;
    margin: 5px;
    margin-right: 5vw;
    float: left;
}

#navWrapper {
    /* border-bottom: 3px solid #FFF; */
    height: 50px;
    background-color: rgba(0, 45, 115, .85);
    box-shadow: -1px 5px 5px;
}

#genreContainerWrapper {
    /* border-bottom: 2px solid #000; */
    /* Transition */
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 0 1em;
    width: 100%;
}

.navButtonWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navButtonWrapper:focus {
    outline: none;
}

.navButtons {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navButton {
    font-size: 1em;
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.navButton:hover {
    cursor: pointer;
}

.navButton:focus {
    outline: none;
}

.navButton:before {
    margin-right: 5px;
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #FFF;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navButton:hover:before,
.navButton:focus:before,
.navButton:active:before {
    left: 5%;
    right: 5%;
}

#navArticleButton {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 50px;
    padding: 0;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 1.5px #FFF;
    color: transparent;
}

#mobileNavArticleButton {
    display: none;
}

#navArticleButton:hover:before,
#navArticleButton:focus:before,
#navArticleButton:active:before {
    left: 51%;
    right: 51%;
}

#loginButton {
    color: #FFF;
    border: 2px solid #FFF;
    padding: 4px 10px;
    padding-right: 11px;
    letter-spacing: 0.05em;
    width: 96px;
    text-align: center;
    /* Transition */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#loginButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#loginButton:hover,
#loginButton:focus,
#loginButton:active {
    color: rgba(0, 45, 115, .85);
    cursor: pointer;
}

#loginButton:hover:before,
#loginButton:focus:before,
#loginButton:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.closedNav {
    line-height: 0;
    height: 0px;
    color: transparent;
    margin-top: -2px;
    background-color: transparent;
    border-top: 0px solid #FFF;
    transition-delay: 400ms;
    pointer-events: none;
}

.openedNav {
    line-height: 1.5;
    height: 30px;
    color: #FFF;
    overflow: visible;
    margin-top: 0px;
    background-color: rgba(0, 113, 189, 0.85);
    border-top: 3px solid #FFF;
    transition-delay: 0ms;
}

#genreButtonWrapper {
    width: 70vw;
    margin-left: 14vw;
    line-height: 0px;
    float: left;
}

.genreContainer {
    width: 25%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.genreContainer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition-duration: 100ms;
    transition-delay: 300ms;
    z-index: -1;
}

.genreContainer:hover:before {
    transform: scaleY(1);
    transition-delay: 0ms;
}

#navGenre1:before,
#navGenre1 .genreDropdown {
    background: rgba(253, 255, 156, 0.85);
}

#navGenre2:before,
#navGenre2 .genreDropdown {
    background: rgba(255, 141, 141, 0.85);
}

#navGenre3:before,
#navGenre3 .genreDropdown {
    background: rgb(173, 255, 162, 0.85);
}

#navGenre4:before,
#navGenre4 .genreDropdown {
    background: rgba(166, 237, 255, 0.85);
}

.genreButton {
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    width: 100%;
    height: 100%;
    text-align: center;
}

.genreContainer:hover .genreButton {
    color: #000;
}

.genreDropdown {
    position: absolute;
    min-width: 100%;
    left: 0;
    top: 30px;
    height: fit-content;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    transition-delay: 0ms;
}

.genreContainer:hover .genreDropdown {
    max-height: 300px;
    padding-bottom: 5px;
    transition-delay: 100ms;
}

.genreDropdown a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.75em;
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.genreDropdown a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.genreDropdown a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.addButton {
    float: right;
    padding: 1px;
    width: 25px;
    height: 25px;
    margin: 2.5;
    border: none;
    transform: none;
    font-size: 1.5em;
    right: 10px;
}

.addButton:hover {
    cursor: pointer;
    color: rgba(0, 45, 115, .85);
}

.mobileMenuButton {
    display: none;
    padding: 16px;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
}

.mobileMenuButton .line {
    background-color: #FFF;
    width: 20px;
    height: 3px;
    margin-top: 3px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.mobileMenuButton.active .line2 {
    transform: translateX(7px);
}

.mobileMenuButton.active .line3 {
    transform: translateX(3px);
}

@media (max-width: 900px) {
    nav {
        width: 100vw;
    }
    #navWrapper {
        position: relative;
        width: 100vw;
    }
    #loginButton,
    #navArticleButton,
    #genreContainerWrapper {
        display: none;
    }
    #mobileNavArticleButton {
        display: block;
    }
    .navButtonWrapper {
        display: inline-block;
    }
    .navButtons {
        position: absolute;
        height: 0px;
        top: 50px;
        left: 0;
        width: 100vw;
        overflow: hidden;
        background: rgba(0, 45, 115, .85);
        transition-duration: 200ms;
    }
    .navButtons.mobileOpened {
        height: 50px;
    }
    .navButton {
        letter-spacing: 0.15em;
    }
    .mobileMenuButton {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0;
    }
}