<nav>
    <div id="navWrapper">
        <div class="logo" id="navLogo" [routerLink]="['/']"></div>
        <div class="navButtonWrapper">
            <div class="navButton" id="mobileNavArticleButton" [routerLink]="['/archive']">
                ARTICLES
            </div>
            <div class="navButtons" [ngClass]="{'mobileOpened': mobileOpen}">
                <div class="navButton" routerLink="/">HOME</div>
                <div class="navButton" routerLink="/join-us">JOIN US</div>
                <div class="navButton" id="navArticleButton" (mouseenter)="navOpen = true; navOpening = true"
                    (mouseleave)="navOpening = false" [routerLink]="['/archive']">
                    ARTICLES
                </div>
                <div class="navButton" routerLink="/about">ABOUT</div>
                <div class="navButton" routerLink="/contact">CONTACT</div>
            </div>
            <div id="loginButton" [routerLink]="['/login']">
                {{userObject == null ? "LOGIN" : "LOGOUT"}}</div>
            <!-- <div id="loginButton" [hidden]="userObject == null" (click)="auth.signOut()">LOGOUT</div> -->
        </div>
        <div class="mobileMenuButton" (click)="mobileOpen = !mobileOpen" [ngClass]="{'active': mobileOpen}">
            <div class="line1 line"></div>
            <div class="line2 line"></div>
            <div class="line3 line"></div>
        </div>
    </div>
    <div id="genreContainerWrapper" (mouseenter)="navOpen = true" (mouseleave)="navOpen = false"
        [ngClass]="{openedNav: navOpen, closedNav: !navOpen}">
        <div class="navButtonWrapper" id="genreButtonWrapper" [routerLink]="['/archive']"
            [ngClass]="{disabled: navOpening}">
            <div class="genreContainer" id="navGenre1">
                <p class="genreButton" (click)="setFilter('Economy', 'none')">ECONOMY</p>
                <div class="genreDropdown">
                    <a (click)="setFilter('Economy', 'Responsible Consumption')">RESPONSIBLE CONSUMPTION</a>
                    <a (click)="setFilter('Economy', 'Decent Work')">DECENT WORK</a>
                    <a (click)="setFilter('Economy', 'Industry & Innovation')">INDUSTRY & INNOVATION</a>
                    <a (click)="setFilter('Economy', 'Wealth Inequality')">WEALTH INEQUALITY</a>
                </div>
            </div>
            <div class="genreContainer" id="navGenre2">
                <p class="genreButton" (click)="setFilter('Poverty', 'none')">POVERTY</p>
                <div class="genreDropdown">
                    <a (click)="setFilter('Poverty', 'Hunger')">HUNGER</a>
                    <a (click)="setFilter('Poverty', 'Health & Wellbeing')">HEALTH & WELLBEING</a>
                    <a (click)="setFilter('Poverty', 'Education')">EDUCATION</a>
                    <a (click)="setFilter('Poverty', 'Clean Water & Sanitation')">CLEAN WATER & SANITATION</a>
                </div>
            </div>
            <div class="genreContainer" id="navGenre3">
                <p class="genreButton" (click)="setFilter('Sustainability', 'none')">SUSTAINABILITY</p>
                <div class="genreDropdown">
                    <a (click)="setFilter('Sustainability', 'Clean Energy')">CLEAN ENERGY</a>
                    <a (click)="setFilter('Sustainability', 'Climate Action')">CLIMATE ACTION</a>
                    <a (click)="setFilter('Sustainability', 'Life On Land')">LIFE ON LAND</a>
                    <a (click)="setFilter('Sustainability', 'Life Below Water')">LIFE BELOW WATER</a>
                    <a (click)="setFilter('Sustainability', 'Sustainable Cities')">SUSTAINABLE CITIES</a>
                </div>
            </div>
            <div class="genreContainer" id="navGenre4">
                <p class="genreButton" (click)="setFilter('Politics', 'none')">POLITICS</p>
                <div class="genreDropdown">
                    <a (click)="setFilter('Politics', 'Peace & Justice')">PEACE & JUSTICE</a>
                    <a (click)="setFilter('Politics', 'Gender Equality')">GENDER EQUALITY</a>
                    <a (click)="setFilter('Politics', 'Partnerships')">PARTNERSHIPS</a>
                </div>
            </div>
        </div>
        <i class="staffButton far fa-plus-square" [routerLink]="['/staff', 'overview']"
            *ngIf="auth.isStaff && auth.staffObject.permission <= 2"></i>

    </div>


</nav>