<div class="hero">

    <h3>Create Article</h3>
    <h5>Category:</h5>
    <select #c (change)="setCategory(c.value)">
        <option value="null">- Select -</option>
        <option value="{{category}}" *ngFor="let category of categories">
            {{category}}
        </option>
    </select>

    <h5>Subcategory:</h5>
    <select [hidden]="currentSubcategories">
        <option [value]="null" selected>- Please select a category first -</option>
    </select>
    <select #s [hidden]="!currentSubcategories">
        <option [value]="null" selected>- Select -</option>
        <option [value]="subcategory" *ngFor="let subcategory of currentSubcategories">
            {{subcategory}}
        </option>
    </select>

    <h5>Title:</h5>
    <input [(ngModel)]="newArticle.title" type="text" name="" />

    <h5>Subtitle:</h5>
    <input [(ngModel)]="newArticle.subtitle" type="text" name="" />

    <!-- <h5>Thumbnail:</h5>
    <input [(ngModel)]="newArticle.title"type="file" id="fileUpload" name="" /> -->

    <!-- <h5>Video Link:</h5>
    <input type="text" name="" /> -->

    <h5>Body:</h5>
    <textarea [(ngModel)]="newArticle.body"></textarea>

    <button class="hvr-shutter-out-horizontal" (click)="createArticle(c.value, s.value)">
        Submit
    </button>


</div>