<div class="hero">

    <h3>Create Article</h3>
    <h5>Type:</h5>
    <select>
        <option value="{{category.key}}" *ngFor="let category of subcategories">
            {{category.key}}
        </option>
    </select>

    <!-- <h5>Subtype:</h5>
            <select>
                <option [value]="subcategory" *ngFor="let subcategory of subcategories.value[0]">
                    {{subcategory}}
                </option>
            </select> -->

    <h5>Title:</h5>
    <input type=" text" name="" />

    <h5>Subtitle:</h5>
    <input type="text" name="" />

    <h5>Blurb:</h5>
    <input type="text" name="" />

    <h5>Thumbnail:</h5>
    <input type="file" id="fileUpload" name="" />

    <h5>Video Link:</h5>
    <input type="text" name="" />

    <h5>Body:</h5>
    <textarea></textarea>

    <button class="hvr-shutter-out-horizontal">
        Submit
    </button>


</div>