<div class="homeWrapper">
    <app-carousel></app-carousel>
    <!-- <app-global-goals></app-global-goals> -->
    <app-new-stories></app-new-stories>
    <div class="heroWrapper aboutWrapper">
        <div class="heroBody aboutHero">
            <div class="bodyText">
                <h3 class="bodyTitle">About</h3>
                <p class="bodyParagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend malesuada lorem non sollicitudin. Duis turpis dui, tempus blandit ipsum ac, placerat pellentesque elit. Nullam posuere augue sed orci mattis consequat. Sed iaculis nulla quis pharetra rutrum. Mauris massa justo, tristique sit amet eros id, auctor commodo tortor. Cras fringilla vitae erat mollis tempor. 
                </p>
                <h5 class="bodyButton" routerLink="/about">Read more</h5>
            </div>
            <div class="bodyImage"></div>
        </div>
    </div>
    <div class="heroWrapper join-usWrapper">
        <div class="heroBody join-usHero">
            <div class="bodyImage"></div>
            <div class="bodyText">
                <h3 class="bodyTitle">Join Us</h3>
                <p class="bodyParagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend malesuada lorem non sollicitudin. Duis turpis dui, tempus blandit ipsum ac, placerat pellentesque elit. Nullam posuere augue sed orci mattis consequat. Sed iaculis nulla quis pharetra rutrum. Mauris massa justo, tristique sit amet eros id, auctor commodo tortor. Cras fringilla vitae erat mollis tempor. 
                </p>
                <h5 class="bodyButton" routerLink="/join-us">Apply now</h5>
            </div>
        </div>
    </div>
    <div class="heroWrapper contactWrapper">
        <div class="heroBody contactHero">
            <div class="bodyText">
                <h3 class="bodyTitle">Contact us</h3>
                <p class="bodyParagraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend malesuada lorem non sollicitudin. Duis turpis dui, tempus blandit ipsum ac, placerat pellentesque elit. Nullam posuere augue sed orci mattis consequat. Sed iaculis nulla quis pharetra rutrum. Mauris massa justo, tristique sit amet eros id, auctor commodo tortor. Cras fringilla vitae erat mollis tempor. 
                </p>
                <h5 class="bodyButton" routerLink="/contact">Get in touch</h5>
            </div>
            <div class="bodyImage"></div>
        </div>
    </div>
</div>