/* Heading */

.wrapper h2 {
    text-align: center;
    font-size: 5em;
    font-weight: 400;
    padding: 100px 0 20px;
    background: rgb(0, 45, 115);
    color: #fff;
    font-weight: 200;
}

.tableContainer {
    width: 100%;
    padding-left: 50px;
    margin-top: 50px;
}


/* Table */

.permissionsTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
}

.permissionsTable thead tr {
    background-color: rgb(0, 45, 115);
    color: #ffffff;
    text-align: left;
}

.permissionsTable th,
.permissionsTable td {
    padding: 12px 15px;
}

.permissionsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.permissionsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.permissionsTable tbody tr:last-of-type {
    border-bottom: 2px solid rgb(0, 45, 115);
}

.permissionsTable tbody tr.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.permissionsTable input {
    background: none;
    border: none;
    max-width: 100%;
}

.permissionsTable .pfpCell {
    padding: 5px;
}

.permissionsTable .userPfp {
    width: 40px;
    height: 40px;
    border: 2px solid navy;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.permissionsTable .uidCell {
    opacity: 0.5;
    max-width: 100px;
    overflow: auto;
    padding-bottom: 0;
}

.permissionsTable .nameCell {
    max-width: 150px;
}

.permissionsTable .rolesCell {
    display: flex;
    justify-content: space-between;
    min-width: 130px;
}

.permissionsTable .role {
    opacity: 0.3;
    cursor: pointer;
}

.permissionsTable .role.active {
    opacity: 1;
}

.permissionsTable .roleIcon {
    margin-right: 5px;
    color: rgb(0, 45, 115);
    font-size: 1.5em;
}

.permissionsTable .permissionCell .permissionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.permissionsTable .permissionCell input {
    width: 35%;
    border: 2px solid rgb(0, 45, 115);
    border-radius: 200px;
    padding: 1px 5px;
    text-align: right;
}

.permissionsTable .permissionCell input:focus {
    outline: none;
    border-color: rgb(94, 158, 214);
}

.permissionsTable .permissionCell .publicButton {
    color: rgb(0, 45, 115);
    font-size: 1.6em;
    cursor: pointer;
}

.permissionsTable .permissionCell .incomplete {
    color: palevioletred;
    font-size: 1.6em;
}

.permissionsTable .permissionCell .incomplete.hidden {
    opacity: 0;
}

.permissionsTable .deleteButton {
    color: rgb(0, 45, 115);
    font-size: 1.6em;
    cursor: pointer;
}

.addProfileRow td {
    padding: 10px;
    text-align: center;
    background: rgb(0, 45, 115);
}

.addProfileRow .addProfileWrapper {
    display: flex;
}

.addProfileRow td select {
    border: 2px solid #fff;
    color: #fff;
    padding: 3px 5px;
    background: none;
    outline: none;
    margin-right: 15px;
}

.addProfileRow td i {
    font-size: 2em;
    color: #fff;
}

.buttonWrapper {
    width: fit-content;
    margin: 50px auto;
}

.buttonWrapper button {
    background: none;
    border: 4px solid rgb(0, 45, 115);
    border-radius: 10px;
    color: rgb(0, 45, 115);
    padding: 5px 20px;
    font-weight: 600;
    margin: 0 10px;
    outline: none;
}


/* Sidebar */

.permissionsKey {
    width: 200px;
    border-radius: 20px;
    top: 25vh;
    margin-left: auto;
    position: sticky;
    background: rgb(0, 45, 115);
    float: right;
    color: #fff;
    padding: 10px 20px;
}

.permissionsKey h4 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.permissionsKey hr {
    border-color: #fff;
}