.pageWrapper {
    width: 100%;
}


/* Hero 1 - Introduction */

.hero1 {
    z-index: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    /* height: calc(85vh + 50px); */
    padding: 130px 50px 40px;
    display: flex;
    justify-content: space-between;
}

.hero1::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0, 45, 115);
    background: linear-gradient(90deg, rgba(0, 45, 115, 1) 0%, rgba(0, 45, 115, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}

.hero1 .text {
    display: inline-block;
    width: 65%;
    margin-right: 100px;
}

.hero1 .text h2 {
    font-size: 6em;
    border-bottom: 5px solid #FFF;
    color: #FFF;
    margin-bottom: 30px;
}

.hero1 .text p {
    color: #FFF;
    font-size: 1.5em;
    font-weight: 200;
}

.hero1 .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    flex-grow: 1;
    margin-right: 50px;
    border: 5px solid #FFF;
}


/* Hero 2 - Role info */

.hero2 {
    height: 95vh;
    width: 100%;
    padding: 70px 50px;
    display: flex;
}


/* Selector */

.hero2 .selector {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(0, 45, 115);
    border-radius: 10px;
    width: 20%;
    margin-right: 5%;
    overflow: hidden;
}

.hero2 .selector .header,
.hero2 .selector .option {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgb(0, 45, 115);
}

.hero2 .selector .header {
    font-size: 2em;
    text-align: center;
    border-bottom: 4px solid rgb(0, 45, 115);
    height: 100px;
    flex-grow: initial;
    justify-content: center;
}

.hero2 .selector .option {
    font-size: 1.5em;
    border-bottom: 2px solid rgb(0, 45, 115);
    cursor: pointer;
    transition-duration: 300ms;
}

.hero2 .selector .option p {
    margin: 0;
}

.hero2 .selector .option i {
    width: 30px;
    margin-right: 10px;
    text-align: center;
}

.hero2 .selector .option:last-child {
    border-bottom: none;
}

.hero2 .selector .option.active {
    background: rgb(0, 45, 115);
    color: #FFF;
}


/* Container */

.hero2 .rolesContainer {
    width: 70%;
    height: 100%;
    margin-right: 5%;
    float: right;
    border-radius: 10px;
    border: 3px solid rgba(0, 45, 115, 1);
    position: relative;
    overflow: hidden;
}

.hero2 .rolesContainer h4 {
    font-size: 3em;
    background-color: rgba(0, 45, 115, 1);
    color: #FFF;
    padding: 20px;
    height: 100px;
}

.hero2 .rolesContainer .rolesText {
    width: 65%;
    line-height: 1.2;
    display: inline-block;
    margin: 20px 0 20px 20px;
}

.hero2 .rolesContainer .rolesImage {
    width: 25%;
    height: 65%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    margin: 20px 20px 0 0;
    border: 5px ridge rgb(0, 45, 115);
}


/* Hero 3 - Additional information */

.hero3 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 55vh;
}

.hero3 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 45, 115);
    background: linear-gradient(180deg, rgba(0, 45, 115, 1) 0%, rgba(0, 45, 115, 0.75) 25%, rgba(0, 45, 115, 0.75) 75%, rgba(0, 45, 115, 1) 100%);
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.hero3 .overlay .infoWrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero3 .overlay .infoWrapper .infoColumn {
    width: 33.3%;
    height: 100%;
    color: #FFF;
}

.hero3 .overlay .infoWrapper .infoColumn.dividing {
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
}

.hero3 .overlay .infoWrapper .infoColumn h4 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

.hero3 .overlay .infoWrapper .infoColumn p {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.3;
    padding: 0 30px;
}


/* Hero 4 - Questions */

.hero4 {
    width: 100%;
    padding: 50px 0;
}

.hero4 .questionsContainer {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    /* border-radius: 20px; */
    color: rgb(0, 45, 115);
    text-align: center;
    /* border: 4px solid rgb(0, 45, 115); */
}

.hero4 .questionsContainer h4 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 15px;
}

.hero4 .questionsContainer a {
    color: rgb(0, 45, 115);
    text-decoration: underline;
}

.hero4 .questionsContainer a:hover {
    color: rgba(0, 45, 115, 0.6);
}

@media (max-width: 900px) {
    /* Hero 1 */
    .hero1 {
        flex-direction: column;
        padding: 100px 20px 20px;
        background-position: center top;
    }
    .hero1::after {
        background: linear-gradient(180deg, rgba(0, 45, 115, 1) 0%, rgba(0, 45, 115, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    }
    .hero1 .text {
        width: 100%;
    }
    .hero1 .text h2 {
        font-size: 4em;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .hero1 .text p {
        font-size: 1em;
        margin-top: 20px;
        text-align: center;
    }
    .hero1 .image {
        width: 80%;
        height: 30vh;
        margin: 0 auto;
    }
    /* Hero 2 */
    .hero2 {
        flex-direction: column;
        padding: 20px;
        height: initial;
    }
    /* Selector */
    .hero2 .selector {
        flex-direction: initial;
        border: 4px solid rgb(0, 45, 115);
        border-radius: 10px;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .hero2 .selector .header,
    .hero2 .selector .option {
        justify-content: center;
        padding: 10px;
    }
    .hero2 .selector .header {
        display: none
    }
    .hero2 .selector .option {
        font-size: 1.5em;
        border-right: 2px solid rgb(0, 45, 115);
        border-bottom: none;
    }
    .hero2 .selector .option i {
        margin: 0;
    }
    .hero2 .selector .option span {
        display: none;
    }
    .hero2 .selector .option:last-child {
        border-right: none;
    }
    /* Container */
    .hero2 .rolesContainer {
        width: 100%;
        height: initial;
        margin-right: 0;
        float: initial;
    }
    .hero2 .rolesContainer h4 {
        font-size: 2.5em;
        height: initial;
        text-align: center;
    }
    .hero2 .rolesContainer .body {
        padding: 20px;
    }
    .hero2 .rolesContainer .rolesText {
        width: 100%;
        line-height: 1.2;
        display: inline-block;
        margin: 0;
    }
    .hero2 .rolesContainer .rolesImage {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        float: none;
    }
    /* Hero 3 */
    .hero3 {
        height: inherit;
    }
    .hero3 .overlay {
        position: inherit;
    }
    .hero3 .overlay .infoWrapper {
        flex-direction: column;
    }
    .hero3 .overlay .infoWrapper .infoColumn {
        width: 100%;
        border-top: 3px solid #FFF;
        border-bottom: 3px solid #FFF;
        padding: 20px 0;
    }
    .hero3 .overlay .infoWrapper .infoColumn.dividing {
        border: none;
    }
    /* Hero 4 */
    .hero4 .questionsContainer {
        width: 90%;
    }
    .hero4 a {
        text-decoration: underline!important;
    }
}