.articleHero {
    margin-top: 50px;
    width: 100%;
    /* background-color: #afdfee; */
}

.articleWrapper {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    /* border: 1px solid black; */
    /* background-color: #d8fdfd; */
}

.mainImage {
    width: 100%;
    height: 300px;
    background-image: url("https://static01.nyt.com/images/2021/02/03/us/politics/03dc-repubs-1/03dc-repubs-1-jumbo.jpg?quality=90&auto=webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.authorContainer {
    height: 30px;
    padding: 5px 0;
    margin-bottom: 50px;
}

.authorContainer p {
    color: #969696;
    line-height: 40px;
    display: inline-block;
    width: 50%;
}

.authorPfp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #000;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.authorContainer .authorName {
    width: 60%;
}

.authorContainer .timestamp {
    float: right;
    width: 20%;
}

.categoriesContainer {
    align-items: center;
}

.categoriesContainer div {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 200px;
    margin-right: 10px;
    width: fit-content;
    border: 1.75px solid rgba(0, 0, 0, 0.2);
}

.subtitle {
    margin-bottom: 20px;
}

.bodyText {
    font-family: 'Noto Serif TC', serif;
    font-size: 17px;
}