.heroWrapper {
    margin: 2px 0px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://cdn1.i-scmp.com/sites/default/files/styles/768x768/public/2018/01/18/05_-_discovery_college_teaches_students_to_explore_value_of_critical_thinking_.jpg?itok=UCMrMdAV");
}

.heroCell {
    width: 25%;
    padding: 20px;
    padding-top: -20px;
    border-radius: 10px;
    background: rgba(0, 45, 115, 0.8);
    color: #FFF;
    position: relative;
    transition-duration: 0.3s;
}

.heroCell .iconContainer {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 45, 115, 0.8);
    border-radius: 50%;
    background: #FFF;
    margin: -50px auto 0;
}

.heroCell h3 {
    text-align: center;
    font-size: 2.5em;
}

.heroCell p {
    margin-bottom: 5px;
}

.heroCell h5 {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 80%;
    outline: none;
    cursor: pointer;
}