.heroWrapper {
    margin: 2px 0px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://cdn1.i-scmp.com/sites/default/files/styles/768x768/public/2018/01/18/05_-_discovery_college_teaches_students_to_explore_value_of_critical_thinking_.jpg?itok=UCMrMdAV");
}

.heroCell {
    width: 25%;
    padding: 20px 20px 35px;
    border-radius: 10px;
    background: rgb(0, 45, 115);
    opacity: 0.8;
    color: #FFF;
    position: relative;
}

.heroCell .iconContainer {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 2pt rgb(0 45 115);
    border: 2px solid #FFF;
    border-radius: 50%;
    background: rgb(0, 45, 115);
    margin: -50px auto 0;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
}

.heroCell .iconContainer i {
    color: #FFF;
    font-size: 2em;
}

.heroCell h3,
.heroCell p,
.heroCell ul,
.heroCell h5 {
    opacity: 1;
}

.heroCell h3 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
}

.heroCell p {
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.3em;
}

.heroCell ul {
    padding-left: 20px;
    font-size: 0.9em;
}

.heroCell h5 {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 80%;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 100;
}