<div class="homeWrapper">
    <app-carousel></app-carousel>
    <app-global-goals></app-global-goals>
    <app-new-stories></app-new-stories>
    <div class="heroWrapper">
        <div class="heroCell">
            <div class="iconContainer">
                <i class="fas fa-user-tie"></i>
            </div>
            <h3>ABOUT US</h3>
            <p>
                Meet our staff, and learn about our mission at DCSN.
                <br><br>
                Our organization practices transparency, so find
                out about the content creation process and moderation guidelines.
            </p>
            <h5 class="bodyButton" routerLink="/about">Read more</h5>
        </div>
        <div class="heroCell">
            <div class="iconContainer">
                <i class="far fa-handshake"></i>
            </div>
            <h3>JOIN US</h3>
            <p>
                Interested in joining DCSN? Find out about:
            <ul>
                <li>Organization roles and heirarchy</li>
                <li>Member benefits</li>
                <li>Application process and requirements</li>
                <li>CE/CAS elegibility</li>
                <li>Opportunities for growth</li>
            </ul>
            <h5 class="bodyButton" routerLink="/join-us">Read more</h5>
        </div>
        <div class="heroCell">
            <div class="iconContainer">
                <i class="far fa-envelope"></i>
            </div>
            <h3>CONTACT US</h3>
            <p>
                Questions, comments, concerns or feedback?
                <br><br>
                Get in touch with one of our staff, we'd love to hear your feedback. Here's how you can reach us.
            </p>
            <h5 class="bodyButton" routerLink="/contact">Read more</h5>
        </div>

    </div>
</div>