<div class="storiesHeroWrapper">
    <h2>LATEST ARTICLES</h2>
    <div class="storyWrapper">
        <div class="storyContainer" *ngFor="let article of recentArticles"
            [routerLink]="['/article', article.articleId]">
            <div class=" textContainer">
                <h3>{{article.title}}</h3>
                <div class="authorContainer">
                    <div class="authorPfp" style="background-image: url({{article.author.photoURL}})"></div>
                    <p>{{article.author.firstName}} {{article.author.lastName}}<br> {{article.newDate}}</p>
                </div>
                <p id="articleBody" [innerHTML]="article.body | safeHtml" [style.fontSize]="'1rem!important'"></p>
            </div>
            <div class="categoriesContainer">
                <div class="categoryTag" [style.backgroundColor]="sharedData.colors.categories[article.category]">
                    {{article.category}}</div>
                <div class="subcategoryTag" [style.backgroundColor]="sharedData.colors.subcategories[article.category]">
                    {{article.subcategory}}
                </div>
            </div>
            <div class="articleImage"
                [style.backgroundImage]="article.thumbURL ? 'url(' + article.thumbURL + ')' : 'url(https://static01.nyt.com/images/2021/02/03/us/politics/03dc-repubs-1/03dc-repubs-1-jumbo.jpg?quality=90&auto=webp)'">
            </div>
        </div>
    </div>
</div>