<div class="heroWrapper">
    <h2>LATEST ARTICLES</h2>
    <div class="storyWrapper">
        <div class="storyContainer" *ngFor="let article of recentArticles"
            [routerLink]="['/article', article.articleId]">
            <div class=" textContainer">
                <h3>{{article.title}}</h3>
                <div class="authorContainer">
                    <div class="authorPfp" style="background-image: url({{article.author.photoURL}})"></div>
                    <p>{{article.author.displayName}} <br> {{article.newDate}}</p>
                </div>
                <p class="articleBody">{{article.body}}</p>
                <div class="categoriesContainer">
                    <div class="categoryTag" [style.backgroundColor]="sharedData.colors.categories[article.category]">
                        {{article.category}}</div>
                    <div class="subcategoryTag"
                        [style.backgroundColor]="sharedData.colors.subcategories[article.category]">
                        {{article.subcategory}}
                    </div>
                </div>
            </div>
            <div class="articleImage" style="background-image: url({{article.preview}})"></div>
        </div>
    </div>
</div>