.loginWrapper {
    padding: 100px 50px 50px;
}

.columnWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background: rgb(0, 45, 115);
    background: linear-gradient(90deg, rgba(0, 45, 115, 1) 0%, rgba(0, 45, 115, 1) 30%, rgba(0, 77, 196, 1) 33%, rgba(0, 77, 196, 1) 66%, rgba(0, 45, 115, 1) 70%, rgba(0, 45, 115, 1) 100%);
    box-shadow: 2px 5px 5px #000;
}

.columnWrapper>div {
    width: calc(90% / 3);
    /* border: 1px solid black; */
    padding: 20px 30px 30px;
    color: #FFF;
}

.loginWrapper .leftColumn h2 {
    font-size: 3.5em;
    font-weight: 300;
}

.loginWrapper .middleColumn {
    padding-top: 50px;
}

.loginWrapper .middleColumn h3 {
    text-align: center;
}

.loginWrapper .rightColumn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginWrapper .rightColumn h5 {
    font-size: 2em;
    font-weight: 300;
}

.loginWrapper .rightColumn button {
    background: none;
    border: 2px solid #FFF;
    padding: 5px 10px;
    font-weight: 400;
    color: #FFF;
}