.loginWrapper {
    padding: 100px 50px 50px;
}

.columnWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

.columnWrapper>div {
    width: calc(90% / 3);
    /* border: 1px solid black; */
    padding: 20px 30px 30px;
    color: #fff;
    box-shadow: 2px 5px 5px #000;
    background: rgb(0, 45, 115);
}

.loginWrapper .leftColumn h2 {
    font-size: 3.5em;
    font-weight: 300;
}

.loginWrapper .middleColumn {
    padding-top: 50px;
}

.loginWrapper .middleColumn h3 {
    text-align: center;
}

.loginWrapper .rightColumn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginWrapper .rightColumn h5 {
    font-size: 2em;
    font-weight: 300;
}

.loginWrapper .rightColumn button {
    background: none;
    border: 2px solid #fff;
    padding: 5px 10px;
    font-weight: 400;
    color: #fff;
}