/* You can add global styles to this file, and also import other style files */


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+TC:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Global CSS */

body {
    /* padding-top: 50px; */
    padding: 0;
    /* background: rgba(0, 45, 115)!important; */
}

a,
a:hover {
    text-decoration: none!important;
}

.nav-btn {
    position: absolute;
    font-size: 7em;
    cursor: pointer;
    top: 42.5% !important;
    color: rgba(255, 255, 255, 0.65);
    z-index: 5
}

.nav-btn:hover {
    color: rgba(255, 255, 255, 0.85)
}

.prev-slide {
    left: 40px!important;
}

.next-slide {
    right: 40px!important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px!important;
}

.slick-dots {
    bottom: 20px!important;
}

.slick-dots li button:before {
    font-size: 20px!important;
    color: white!important;
    opacity: 0.65!important;
}

.slick-dots li.slick-active button:before {
    opacity: 0.85!important;
}

html,
body {
    height: 100%;
}

app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

app-footer {
    margin-top: auto;
}

.permissionsTable .roleIcon {
    margin-right: 5px;
    color: rgb(0, 45, 115);
    font-size: 1.5em;
}