<div class="heroWrapper">
    <h2>RECENT NEWS</h2>
    <div class="storyWrapper">
        <div class="storyContainer" *ngFor="let article of articles | slice:0:3;">
            <div class="textContainer">
                <h3>{{article.title}}</h3>
                <div class="authorContainer">
                    <div class="authorPfp" style="background-image: url({{article.author.pfp}})"></div>
                    <p>{{article.author.name}} <br> {{article.publishDate}}</p>
                </div>
                <p>{{article.body}}</p>
                <p>Tags: {{article.tags}}</p>
            </div>
            <div class="articleImage" style="background-image: url({{article.preview}})"></div>
        </div>
    </div>
</div>